[submodule "www/lib/LokiJS"]
	path = www/lib/LokiJS
	url = ../../techfort/LokiJS.git
[submodule "www/lib/loki-cordova-fs-adapter"]
	path = www/lib/loki-cordova-fs-adapter
	url = ../../cosmith/loki-cordova-fs-adapter.git
