[submodule "www/lib/LokiJS"]
	path = www/lib/LokiJS
	url = https://github.com/techfort/LokiJS.git
[submodule "www/lib/loki-cordova-fs-adapter"]
	path = www/lib/loki-cordova-fs-adapter
	url = https://github.com/cosmith/loki-cordova-fs-adapter.git
